.visible {
    display: block;
}

.hidden {
    display: none;
}

.image {
    position: relative;

    button {
        background-color: rgba(247, 245, 245, 0);
        color: black;
        padding: 0.2em 0.4em;
        border:none;
    }

    button:focus {
        outline: none;
    }

    button:hover {
        border:none;
    }

    button:disabled {
        color: rgb(211, 211, 211);
    }

    .no-img {
        background-color: #F6F6F6;
        width: 320px;
        height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .no-img-callout {
        color: rgb(0, 0, 0);
        margin: 0;
    }
}

.arrow-button-next, .arrow-button-prev {
    position: absolute;
}

.arrow-button-next {
    top: 50%;
    right: 0;
}

.arrow-button-prev {
    top: 50%;
    left: 0;
}

.option-color {
    position: absolute;
    display: flex;
    gap: 0.5em;
    margin: 0.5em 0;

    figure {
        width: 80px;
        height: 100px;
        margin: 0;

        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }

    .color-button {
        color: white;
        padding: 0;
    }

    button {
        color: rgba(255, 254, 254, 0.893);
    }

    button:disabled {
        color: rgba(71, 70, 70, 0.893);
    }

}